/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

body > div:first-child {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex-grow: 1; /* Or flex-grow: 1;*/
}
