/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

main {
    flex: 1; /* Or flex-grow: 1;*/
}

div#whole {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
